
.icon-progress-2:before { content: '\e800'; } /* '' */
.icon-book:before { content: '\e801'; } /* '' */
.icon-edit:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-paper-plane:before { content: '\e804'; } /* '' */
.icon-monitor:before { content: '\e805'; } /* '' */
.icon-vcard:before { content: '\e806'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */